# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# Environment files
.env

# Local DB artifacts
*.db

# VSCode
.vscode/

# OS
.DS_Store

# Alembic cache
alembic/__pycache__/
backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/routers/__pycache__/
backend/app/schemas/__pycache__/
backend/app/core/__pycache__/
backend/scripts/__pycache__/

# Bytecode
*.egg-info/
